section img{
    height: 200px;
    border-radius: 50px;
}
section {
    margin: auto;
    height: 400px;
    width: 400px;
    float: left;
}
#photo-template {
    display: none;
}
footer{
    clear: both;
}